#app
  splitpanes.default-theme
    span(splitpanes-min="20") 1#[br]#[em.specs I have a min width of 20%]
    splitpanes.default-theme(horizontal)
      span(splitpanes-min="20") 2
      span 3
      span 4
    span 5
